<div class="d-flex" style="border: 1px solid black;
border-radius: 23px;
padding-left: 1px;
overflow: hidden;
font-size: 25px;
margin-bottom: 10px;">
  <div><img src="https://image.tmdb.org/t/p/w185/<%=data.poster_path %>" style="height: 100px;aspect-ratio: 1/1;"></div>
  <div class="d-flex align-items-center ps-5"><%= data.original_title %></div>
</div>